# Projeto de Precificação de Imóveis de São Paulo

## Etapa 1: Extração e Tratamento dos dados

Na primeira etapa do projeto, será realizado a extração e tratamento das bases de dados dos imóveis do município de São Paulo de modo a criar uma base de dados consistente para ser utilizada na etapa de análise exploratória, são eles:

* Dados do valor dos imovéis (Fonte: Kaggle)
* Dados do censo imobiliário (Fonte: IBGE)
* Dados dos endereços 
* Dados geográficos (Fonte: IBGE)

In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd

In [2]:
from shapely.geometry import Point, Polygon

## Tratamento

### Dados do valor dos imóveis

In [3]:
path_aula = 'https://gist.githubusercontent.com/tgcsantos/3bdb29eba6ce391e90df2b72205ba891/raw/22fa920e80c9fa209a9fccc8b52d74cc95d1599b/dados_imoveis.csv'

In [4]:
path_imovel = "https://raw.githubusercontent.com/rafaelladuarte/precificacao_imoveis/main/data_properties_SP.csv"
df_imovel = pd.read_csv(path_imovel)
df_imovel.sample(5)

,Street,City,propertycard__detailvalue,quartos,banheiros,vagas,price
5570,Rua Princesa Leopoldina,"Alto da Lapa, São Paulo",150,3,2,4,R$ 1.600.000
5628,Rua Doutor João Pinheiro,"Jardim Paulista, São Paulo",457,5,6,3,R$ 6.500.000
513,"Jardim Guedala, São Paulo",SP,449,4,5,5,R$ 3.500.000
3594,"Jardim Europa, São Paulo",SP,250,4,3,2,R$ 5.350.000
6505,"Rua Manuel Marques Simões, 0","Cidade Jardim, São Paulo",1300,5,7,6,R$ 4.200.000

Limpando os espaços vazios extras nos valores dos campos

In [5]:
df_imovel = df_imovel.applymap(
    lambda x: x.strip() if isinstance(x, str) else x
)

Nota-se que o dataframe não possui a coluna que nos diz a respeito em qual bairro da cidade de São Paulo o imóvel localiza. No entanto, é possivel observar que essa informação pode ser encontrada na coluna Street ou City.

Ao separar os valores do campo Street por virgula, nota-se que pode ocorrer 3 partições

In [6]:
df_imovel["Street"].str.split(pat=",",expand = True)

                               0           1     2
0                Avenida Itacira         255  None
1      Rua Aurelia Perez Alvarez          42  None
2                Rua Alba Valdez        None  None
3                 Jardim Morumbi   São Paulo  None
4             Rua Tobias Barreto         195  None
...                          ...         ...   ...
10028                 Rua Tapuçu        None  None
10029              Rua Guararema        None  None
10030          Rua Estero Belaco        None  None
10031            Rua Manuel Onha               514
10032     Rua Barão de Tramandaí           0  None

[10033 rows x 3 columns]

Inserindo as partições da separação no dataframe

In [7]:
df_imovel[
    [
        "Street_1",
        "Street_2", 
        "Street_3"
    ]
]  = df_imovel["Street"].str.split(pat=",",expand = True)

Visualizando as partições no dataframe

In [8]:
df_imovel.sample(5)

,Street,City,propertycard__detailvalue,quartos,banheiros,vagas,price,Street_1,Street_2,Street_3
1584,"Granja Julieta, São Paulo",SP,275,4,4,3,R$ 2.700.000,Granja Julieta,São Paulo,None
5016,Rua Santo Eufredo,"Jardim Guedala, São Paulo",763,4,5,5,R$ 5.400.000,Rua Santo Eufredo,None,None
2536,Rua Duartina,"Sumaré, São Paulo",402,4,4,4,R$ 3.800.000,Rua Duartina,None,None
3595,"Cidade Jardim, São Paulo",SP,680,5,5,4,R$ 4.500.000,Cidade Jardim,São Paulo,None
5140,Rua Tomé Portes,"Brooklin Paulista, São Paulo",266,4,5,2,R$ 1.500.000,Rua Tomé Portes,None,None

Já ao separar os valores do campo City por virgula, ocorrer apenas 2 partições

In [9]:
df_imovel["City"].str.split(pat=",",expand = True)

                        0           1
0       Planalto Paulista   São Paulo
1      Jardim dos Estados   São Paulo
2         Jardim Reimberg   São Paulo
3                      SP        None
4                   Mooca   São Paulo
...                   ...         ...
10028          Vila Sofia   São Paulo
10029     Bosque da Saúde   São Paulo
10030       Vila da Saúde   São Paulo
10031       Vila Oratório   São Paulo
10032         Vila Alpina   São Paulo

[10033 rows x 2 columns]

Inserindo as partições da separação no dataframe

In [10]:
df_imovel[["City_1", "City_2"]]  = df_imovel["City"].str.split(pat=",",expand = True)

Visualizando as partições no dataframe

In [11]:
df_imovel.sample(5)

,Street,City,propertycard__detailvalue,quartos,banheiros,vagas,price,Street_1,Street_2,Street_3,City_1,City_2
9461,Rua Penápolis,"Pacaembu, São Paulo",300,3,2,4,R$ 2.900.000,Rua Penápolis,None,None,Pacaembu,São Paulo
1102,Rua Lino Coutinho,"Ipiranga, São Paulo",181,2,3,1,R$ 480.000,Rua Lino Coutinho,None,None,Ipiranga,São Paulo
535,"Rua Barão do Triunfo, 818","Brooklin Paulista, São Paulo",220,2,1,2,R$ 1.914.893,Rua Barão do Triunfo,818,None,Brooklin Paulista,São Paulo
1149,Rua Mateus Mendes Pereira,"Jardim Nossa Senhora do Carmo, São Paulo",102,3,2,2,R$ 450.000,Rua Mateus Mendes Pereira,None,None,Jardim Nossa Senhora do Carmo,São Paulo
706,Rua Janaúba,"Jardim Panorama D'Oeste, São Paulo",400,5,4,4,R$ 4.000.000,Rua Janaúba,None,None,Jardim Panorama D'Oeste,São Paulo

Atualizando o campo City para São Paulo, cidade dos dados que está sendo analisado

In [12]:
df_imovel["City"] = "São Paulo"

In [13]:
df_imovel.sample(2)

,Street,City,propertycard__detailvalue,quartos,banheiros,vagas,price,Street_1,Street_2,Street_3,City_1,City_2
8552,"Belenzinho, São Paulo",São Paulo,150,3,2,2,R$ 725.000,Belenzinho,São Paulo,None,SP,None
3838,Rua Kalil Nader Habr,São Paulo,170,4,3,3,R$ 720.000,Rua Kalil Nader Habr,None,None,Vila Santo Estéfano,São Paulo

Criando a coluna Bairro

In [14]:
df_imovel["Bairro"] = df_imovel["City_1"]

Removendo valores do campo Street, quando a informação representa um bairro

In [15]:
df_imovel.loc[
    df_imovel["Bairro"] == "SP", "Street"
] = np.nan

Inserindo o valor do Bairro na sua respectiva coluna

In [16]:
df_imovel.loc[
    df_imovel["Bairro"] == "SP", "Bairro"
] = df_imovel['Street_1']

In [17]:
df_imovel.head()

,Street,City,propertycard__detailvalue,quartos,banheiros,vagas,price,Street_1,Street_2,Street_3,City_1,City_2,Bairro
0,"Avenida Itacira, 255",São Paulo,1000,4,8,6,R$ 7.000.000,Avenida Itacira,255,None,Planalto Paulista,São Paulo,Planalto Paulista
1,"Rua Aurelia Perez Alvarez, 42",São Paulo,469-524,3-6,3-6,4,R$ 3.700.000,Rua Aurelia Perez Alvarez,42,None,Jardim dos Estados,São Paulo,Jardim dos Estados
2,Rua Alba Valdez,São Paulo,125,4,3,2,R$ 380.000,Rua Alba Valdez,None,None,Jardim Reimberg,São Paulo,Jardim Reimberg
3,NaN,São Paulo,310,3,2,4,R$ 685.000,Jardim Morumbi,São Paulo,None,SP,None,Jardim Morumbi
4,"Rua Tobias Barreto, 195",São Paulo,100,3,2,2,R$ 540.000,Rua Tobias Barreto,195,None,Mooca,São Paulo,Mooca

Removendo as colunas desnecessarias

In [18]:
df_imovel = df_imovel.drop(
    columns = [
        'Street_1',
        'Street_2',	
        'Street_3',
        'City_1',
        'City_2',
    ]
)
df_imovel.head()

,Street,City,propertycard__detailvalue,quartos,banheiros,vagas,price,Bairro
0,"Avenida Itacira, 255",São Paulo,1000,4,8,6,R$ 7.000.000,Planalto Paulista
1,"Rua Aurelia Perez Alvarez, 42",São Paulo,469-524,3-6,3-6,4,R$ 3.700.000,Jardim dos Estados
2,Rua Alba Valdez,São Paulo,125,4,3,2,R$ 380.000,Jardim Reimberg
3,NaN,São Paulo,310,3,2,4,R$ 685.000,Jardim Morumbi
4,"Rua Tobias Barreto, 195",São Paulo,100,3,2,2,R$ 540.000,Mooca

In [19]:
df_imovel.columns = ['Rua', 'cidade','metragem','quartos','banheiros','vagas','preco','bairro']

In [20]:
df_imovel.head()

,Rua,cidade,metragem,quartos,banheiros,vagas,preco,bairro
0,"Avenida Itacira, 255",São Paulo,1000,4,8,6,R$ 7.000.000,Planalto Paulista
1,"Rua Aurelia Perez Alvarez, 42",São Paulo,469-524,3-6,3-6,4,R$ 3.700.000,Jardim dos Estados
2,Rua Alba Valdez,São Paulo,125,4,3,2,R$ 380.000,Jardim Reimberg
3,NaN,São Paulo,310,3,2,4,R$ 685.000,Jardim Morumbi
4,"Rua Tobias Barreto, 195",São Paulo,100,3,2,2,R$ 540.000,Mooca

Tratando os valores da coluna preço

Nota-se que elas estão no tipo string

In [21]:
type(df_imovel["preco"][0])

str

Separando a string por espaço

In [22]:
df_imovel["preco"].str.split(expand = True)

        0          1     2
0      R$  7.000.000  None
1      R$  3.700.000  None
2      R$    380.000  None
3      R$    685.000  None
4      R$    540.000  None
...    ..        ...   ...
10028  R$    665.000  None
10029  R$  2.300.000  None
10030  R$  1.050.000  None
10031  R$      2.200  /Mês
10032  R$    270.000  None

[10033 rows x 3 columns]

In [23]:
df_imovel["preco"].str.split(expand = True)[2].unique()

array([None, '/Mês', '/Ano', '/Dia'], dtype=object)

In [24]:
df_imovel[["moeda", "preco_anuncio", "tipo_anuncio"]] = df_imovel["preco"].str.split(expand = True)

In [25]:
df_imovel.sample(3)

,Rua,cidade,metragem,quartos,banheiros,vagas,preco,bairro,moeda,preco_anuncio,tipo_anuncio
6909,Rua Ministro José G. R. Alckmin,São Paulo,200,3,2,3,R$ 1.290.000,Santo Amaro,R$,1.290.000,None
6966,Rua Henriqueta Salvadore Giacometti,São Paulo,104,3,1,2,R$ 430.000,Terceira Divisão de Interlagos,R$,430.000,None
3295,Rua Palmares,São Paulo,647,4,6,4,R$ 25.000\n /Mês,Brooklin Paulista,R$,25.000,/Mês

In [26]:
df_imovel[df_imovel["tipo_anuncio"].isnull()]["tipo_anuncio"].unique()

array([None], dtype=object)

In [27]:
df_imovel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10033 entries, 0 to 10032
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rua            6596 non-null   object
 1   cidade         10033 non-null  object
 2   metragem       10033 non-null  object
 3   quartos        10033 non-null  object
 4   banheiros      10033 non-null  object
 5   vagas          10033 non-null  object
 6   preco          10033 non-null  object
 7   bairro         10033 non-null  object
 8   moeda          10033 non-null  object
 9   preco_anuncio  10033 non-null  object
 10  tipo_anuncio   852 non-null    object
dtypes: object(11)
memory usage: 862.3+ KB

In [28]:
df_imovel = df_imovel[df_imovel["tipo_anuncio"].isnull()]
df_imovel

,Rua,cidade,metragem,quartos,banheiros,vagas,preco,bairro,moeda,preco_anuncio,tipo_anuncio
0,"Avenida Itacira, 255",São Paulo,1000,4,8,6,R$ 7.000.000,Planalto Paulista,R$,7.000.000,None
1,"Rua Aurelia Perez Alvarez, 42",São Paulo,469-524,3-6,3-6,4,R$ 3.700.000,Jardim dos Estados,R$,3.700.000,None
2,Rua Alba Valdez,São Paulo,125,4,3,2,R$ 380.000,Jardim Reimberg,R$,380.000,None
3,NaN,São Paulo,310,3,2,4,R$ 685.000,Jardim Morumbi,R$,685.000,None
4,"Rua Tobias Barreto, 195",São Paulo,100,3,2,2,R$ 540.000,Mooca,R$,540.000,None
...,...,...,...,...,...,...,...,...,...,...,...
10027,Avenida Odila,São Paulo,262,3,6,4,R$ 1.500.000,Planalto Paulista,R$,1.500.000,None
10028,Rua Tapuçu,São Paulo,90,2,2,2,R$ 665.000,Vila Sofia,R$,665.000,None
10029,Rua Guararema,São Paulo,600,8,7,5,R$ 2.300.000,Bosque da Saúde,R$,2.300.000,None
10030,Rua Estero Belaco,São Paulo,200,3,3,6,R$ 1.050.000,Vila da Saúde,R$,1.050.000,None
10032,"Rua Barão de Tramandaí, 0",São Paulo,117,3,2,2,R$ 270.000,Vila Alpina,R$,270.000,None

In [29]:
df_imovel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9181 entries, 0 to 10032
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rua            6129 non-null   object
 1   cidade         9181 non-null   object
 2   metragem       9181 non-null   object
 3   quartos        9181 non-null   object
 4   banheiros      9181 non-null   object
 5   vagas          9181 non-null   object
 6   preco          9181 non-null   object
 7   bairro         9181 non-null   object
 8   moeda          9181 non-null   object
 9   preco_anuncio  9181 non-null   object
 10  tipo_anuncio   0 non-null      object
dtypes: object(11)
memory usage: 860.7+ KB

Substituindo o ponto dos milhares para vazio, pra conseguir converter os valores para float

In [30]:
df_imovel["preco_anuncio"].str.replace(".","",regex=False).astype(float)

0        7000000.0
1        3700000.0
2         380000.0
3         685000.0
4         540000.0
           ...
10027    1500000.0
10028     665000.0
10029    2300000.0
10030    1050000.0
10032     270000.0
Name: preco_anuncio, Length: 9181, dtype: float64

Adicionando uma coluna no dataframe para o preço do anuncio em formato float

In [31]:
df_imovel["preco_anuncio_float"] = df_imovel["preco_anuncio"].str.replace(".","",regex=True).astype(float)

In [32]:
df_imovel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9181 entries, 0 to 10032
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Rua                  6129 non-null   object
 1   cidade               9181 non-null   object
 2   metragem             9181 non-null   object
 3   quartos              9181 non-null   object
 4   banheiros            9181 non-null   object
 5   vagas                9181 non-null   object
 6   preco                9181 non-null   object
 7   bairro               9181 non-null   object
 8   moeda                9181 non-null   object
 9   preco_anuncio        9181 non-null   object
 10  tipo_anuncio         0 non-null      object
 11  preco_anuncio_float  9181 non-null   float64
dtypes: float64(1), object(11)
memory usage: 932.4+ KB

In [33]:
df_imovel.sample(5)

,Rua,cidade,metragem,quartos,banheiros,vagas,preco,bairro,moeda,preco_anuncio,tipo_anuncio,preco_anuncio_float
4296,Avenida Jamaris,São Paulo,410,3,2,2,R$ 4.920.000,Planalto Paulista,R$,4.920.000,None,4920000.0
4663,Rua Dona Inácia Uchôa,São Paulo,154,3,3,2,R$ 900.000,Vila Mariana,R$,900.000,None,900000.0
3859,Rua Padre Marchetti,São Paulo,145,2,3,2,R$ 550.000,Ipiranga,R$,550.000,None,550000.0
3890,Rua Professor Nova Gomes,São Paulo,261,3,2,2,R$ 1.800.000,Vila Madalena,R$,1.800.000,None,1800000.0
8677,NaN,São Paulo,270,3,4,5,R$ 1.150.000,Parque dos Príncipes,R$,1.150.000,None,1150000.0

Removendo as colunas desnecessarias

In [34]:
df_imovel = df_imovel.drop(
    columns = [
        'tipo_anuncio',
        'moeda',
        'preco_anuncio',
        'preco'
    ]
)

In [35]:
df_imovel['metragem']

0           1000
1        469-524
2            125
3            310
4            100
          ...
10027        262
10028         90
10029        600
10030        200
10032        117
Name: metragem, Length: 9181, dtype: object

Substituindo os valores que não são numeros nas colunas de metragem e vagas para NaN que significa Not a Number

In [36]:
df_imovel['metragem'] = df_imovel['metragem'].apply(
    lambda x: np.nan if '-' in x else x
)
df_imovel['metragem']

0        1000
1         NaN
2         125
3         310
4         100
         ...
10027     262
10028      90
10029     600
10030     200
10032     117
Name: metragem, Length: 9181, dtype: object

In [37]:
df_imovel['vagas'] = df_imovel['vagas'].apply(
    lambda x: np.nan if '-' in x else x
)
df_imovel['vagas']

0        6
1        4
2        2
3        4
4        2
        ..
10027    4
10028    2
10029    5
10030    6
10032    2
Name: vagas, Length: 9181, dtype: object

Removendo as linhas que possuem valores nulos nas colunas de metragem e vagas

In [38]:
df_imovel = df_imovel.dropna(subset=["metragem","vagas"])
df_imovel

,Rua,cidade,metragem,quartos,banheiros,vagas,bairro,preco_anuncio_float
0,"Avenida Itacira, 255",São Paulo,1000,4,8,6,Planalto Paulista,7000000.0
2,Rua Alba Valdez,São Paulo,125,4,3,2,Jardim Reimberg,380000.0
3,NaN,São Paulo,310,3,2,4,Jardim Morumbi,685000.0
4,"Rua Tobias Barreto, 195",São Paulo,100,3,2,2,Mooca,540000.0
5,Rua Graham Bell,São Paulo,440,4,4,6,Santo Amaro,1980000.0
...,...,...,...,...,...,...,...,...
10027,Avenida Odila,São Paulo,262,3,6,4,Planalto Paulista,1500000.0
10028,Rua Tapuçu,São Paulo,90,2,2,2,Vila Sofia,665000.0
10029,Rua Guararema,São Paulo,600,8,7,5,Bosque da Saúde,2300000.0
10030,Rua Estero Belaco,São Paulo,200,3,3,6,Vila da Saúde,1050000.0
10032,"Rua Barão de Tramandaí, 0",São Paulo,117,3,2,2,Vila Alpina,270000.0

In [39]:
df_imovel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9177 entries, 0 to 10032
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Rua                  6125 non-null   object
 1   cidade               9177 non-null   object
 2   metragem             9177 non-null   object
 3   quartos              9177 non-null   object
 4   banheiros            9177 non-null   object
 5   vagas                9177 non-null   object
 6   bairro               9177 non-null   object
 7   preco_anuncio_float  9177 non-null   float64
dtypes: float64(1), object(7)
memory usage: 645.3+ KB

Mudando o tipo dos valores das colunas metragem, quartos, banheiros e vagas para inteiro

In [40]:
df_imovel["metragem"] = df_imovel["metragem"].astype(int)
df_imovel["quartos"] = df_imovel["quartos"].astype(int)
df_imovel["banheiros"] = df_imovel["banheiros"].astype(int)
df_imovel["vagas"] = df_imovel["vagas"].astype(int)

In [41]:
df_imovel.sample(5)

,Rua,cidade,metragem,quartos,banheiros,vagas,bairro,preco_anuncio_float
1210,Rua Euclídes de Andrade,São Paulo,80,2,2,2,Pompeia,990000.0
6593,NaN,São Paulo,64,2,1,1,Jaraguá,280000.0
8161,Rua Melo Morais Filho,São Paulo,545,4,6,10,Jardim Guedala,8500000.0
5721,NaN,São Paulo,600,4,2,10,Jardim Europa,12000000.0
5539,"Rua Jacob Maris, 50",São Paulo,350,3,5,3,Instituto de Previdência,980000.0

Removendo caracter especial do campo Rua

In [42]:
df_imovel["apenas_rua"] = df_imovel["Rua"].str.extract(r'(^[\w ]+)')
df_imovel["apenas_rua"] = df_imovel["apenas_rua"].str.lower().str.strip()
df_imovel.head()

,Rua,cidade,metragem,quartos,banheiros,vagas,bairro,preco_anuncio_float,apenas_rua
0,"Avenida Itacira, 255",São Paulo,1000,4,8,6,Planalto Paulista,7000000.0,avenida itacira
2,Rua Alba Valdez,São Paulo,125,4,3,2,Jardim Reimberg,380000.0,rua alba valdez
3,NaN,São Paulo,310,3,2,4,Jardim Morumbi,685000.0,NaN
4,"Rua Tobias Barreto, 195",São Paulo,100,3,2,2,Mooca,540000.0,rua tobias barreto
5,Rua Graham Bell,São Paulo,440,4,4,6,Santo Amaro,1980000.0,rua graham bell

Exportando o dataframe dos valores dos imoveis para um arquivo csv

In [43]:
# df_imovel.to_csv('dados_imoveis_tratados.csv')

### Dados do setor imobiliário

Nessa base de dados encontramos os dados referentes ao censo do setor imobiliário, com o codigo de cada setor regional

In [44]:
path_setor = 'https://gist.githubusercontent.com/tgcsantos/85f8c7b0a2edbc3e27fcad619b37d886/raw/a4954781e6bca9cb804062a3eea0b3b84679daf4/Basico_SP1.csv'
df_setor = pd.read_csv(path_setor)
df_setor.sample(2)

                                                                                                                                          Cod_setor;Cod_Grandes Regi�es;Nome_Grande_Regiao;Cod_UF;Nome_da_UF ;Cod_meso;Nome_da_meso;Cod_micro;Nome_da_micro;Cod_RM;Nome_da_RM;Cod_municipio;Nome_do_municipio;Cod_distrito;Nome_do_distrito;Cod_subdistrito;Nome_do_subdistrito;Cod_bairro;Nome_do_bairro;Situacao_setor;Tipo_setor;V001;V002;V003;V004;V005;V006;V007;V008;V009;V010;V011;V012;
355030895000115;3;"Regi�o Sudeste";35;"S�o Paul... 52;2 2;1046  63;822971    42;1194 39;762530    66;681  42;594773  52;1037 57;536042                                                 59.0
355030823000007;3;"Regi�o Sudeste";35;"S�o Paul... 13;2 82;1901 58;156622467 87;2413 84;197745974 92;1230 9;56748304 54;1729 17;78893855                                               25.0

Nota-se que o tivemos problemas ao ler o arquivo, para resolver isso, primeiro determinamos o encoding para tratar os caracteres especiais, em seguida, determinamos o separador de colunas e delimitador de texto utilizado no arquivo.

In [45]:
df_setor = pd.read_csv(
    path_setor,
    encoding='ISO-8859-1',
    sep=';', thousands='.', decimal=','
)
df_setor.sample(5)

,Cod_setor,Cod_Grandes Regiï¿½es,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V004,V005,V006,V007,V008,V009,V010,V011,V012,Unnamed: 33
15496,355030881000120,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.12,800.37,7.393503e+05,1161.10,6.533286e+05,612.45,688526.57,1128.89,6.861054e+05,NaN
11490,355030860000154,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,1.87,1856.18,1.120393e+07,3199.47,1.506502e+07,1284.03,5908920.64,2381.67,8.359060e+06,NaN
5760,355030831000050,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,2.39,915.37,6.393871e+05,1030.86,6.008238e+05,578.94,462865.49,892.12,4.337965e+05,NaN
10481,355030854000124,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,4.12,11536.12,2.291637e+08,13145.81,2.402368e+08,4636.39,96054890.24,7727.31,1.365822e+08,NaN
11433,355030860000097,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,1.36,5234.51,6.088008e+07,5662.96,6.344600e+07,3465.84,43507398.67,4472.26,5.165595e+07,NaN

In [46]:
df_setor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18363 entries, 0 to 18362
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Cod_setor              18363 non-null  int64
 1   Cod_Grandes Regiï¿½es  18363 non-null  int64
 2   Nome_Grande_Regiao     18363 non-null  object
 3   Cod_UF                 18363 non-null  int64
 4   Nome_da_UF             18363 non-null  object
 5   Cod_meso               18363 non-null  int64
 6   Nome_da_meso           18363 non-null  object
 7   Cod_micro              18363 non-null  int64
 8   Nome_da_micro          18363 non-null  object
 9   Cod_RM                 18363 non-null  int64
 10  Nome_da_RM             18363 non-null  object
 11  Cod_municipio          18363 non-null  int64
 12  Nome_do_municipio      18363 non-null  object
 13  Cod_distrito           18363 non-null  int64
 14  Nome_do_distrito       18363 non-null  object
 15  Cod_subdistrito        18363 non-null  int64
 16  Nome_do_subdistrito    18363 non-null  object
 17  Cod_bairro             18363 non-null  int64
 18  Nome_do_bairro         18363 non-null  object
 19  Situacao_setor         18363 non-null  int64
 20  Tipo_setor             18363 non-null  int64
 21  V001                   18333 non-null  float64
 22  V002                   18333 non-null  float64
 23  V003                   18333 non-null  float64
 24  V004                   18333 non-null  float64
 25  V005                   18333 non-null  float64
 26  V006                   18333 non-null  float64
 27  V007                   18324 non-null  float64
 28  V008                   18324 non-null  float64
 29  V009                   18363 non-null  float64
 30  V010                   18363 non-null  float64
 31  V011                   18352 non-null  float64
 32  V012                   18352 non-null  float64
 33  Unnamed: 33            0 non-null      float64
dtypes: float64(13), int64(12), object(9)
memory usage: 4.8+ MB

Quando vemos as informações gerais do dataframe gerado, vemos que ele possue muitos valores nulos. Desta forma, vamos trata-los removendo.

In [47]:
df_setor.dropna(how='all', axis=1, inplace=True)
df_setor.head()

,Cod_setor,Cod_Grandes Regiï¿½es,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
0,355030801000001,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.01,2.32,2091.32,8532451.78,2164.55,8673276.78,1227.41,4285771.99,1713.75,5152087.86
1,355030801000002,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,2.98,2.09,1650.09,3983441.31,1717.44,4030519.99,1045.78,2572133.32,1468.08,2991546.94
2,355030801000003,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.31,3.08,1280.43,5474593.06,2349.53,7553913.02,902.97,2735492.52,1786.79,3837674.74
3,355030801000004,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.16,2.26,1119.59,3572955.10,1859.13,4567289.50,869.09,2122409.02,1567.41,2735383.24
4,355030801000005,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.14,2.35,1416.90,2240207.58,1581.66,2240109.39,917.71,1570047.75,1356.35,1725877.85

### Dados dos endereços

Nessa base encontramos os principais endereços existentes nos diversos estados do Brasil, cada um com sua geolocalização (latitude, longitude)

In [48]:
path_endereco = "/home/Rafaella.Duarte/Documentos/pasta_pessoal/precificacao_imoveis/Imersao_Dados/Large_Files/enderecos.csv"
df_endereco = pd.read_csv(path_endereco,low_memory=False)
df_endereco.sample(2)

,tipo_logr,logr_nome,logr_compl,numero,bairro,nome_localidade,sigla_uf,cep,latitude,longitude
370665,Rua,Dezoito,Rua Dezoito (Prq Itatiaia),NaN,Parque do Itatiaia,Gravataí,RS,94197220.0,-29.906943,-51.037172
421673,Alameda,das Alfazemas,Alameda das Alfazemas,NaN,Estância Santa Maria do Laranjal,Atibaia,SP,12953180.0,-23.117549,-46.556707

Como estamos analisando apenas os imovéis do municipio de São Paulo, em seguida iremos filtrar e seleciona apenas os dados desejados.

In [49]:
df_endereco = df_endereco.query("sigla_uf == 'SP'")
df_endereco.head()

,tipo_logr,logr_nome,logr_compl,numero,bairro,nome_localidade,sigla_uf,cep,latitude,longitude
1,Rua,João Antônio Vasconcelos,Rua João Antônio Vasconcelos - até 627/628,627,Amizade,Araçatuba,SP,16074320.0,-21.190276,-50.448686
413269,Rua,A,Rua A,NaN,Jardim Glória,Americana,SP,13468220.0,-22.756531,-47.343738
413270,Rua,A,Rua A,NaN,Jardim São Roque,Americana,SP,13469414.0,-22.743734,-47.348631
413271,Rua,A,Rua A,NaN,Iate Clube de Campinas,Americana,SP,13475620.0,-22.737846,-47.333569
413272,Rua,João Bandini,Rua João Bandini,NaN,Jardim Miriam,Americana,SP,13469072.0,-22.744283,-47.351588

Adicionando um coluna com o a rua dos endereços tratadas

In [50]:
df_endereco["rua"] = df_endereco["tipo_logr"] + " " + df_endereco["logr_nome"]
df_endereco["rua"] = df_endereco["rua"].str.lower().str.strip()
df_endereco.head()

,tipo_logr,logr_nome,logr_compl,numero,bairro,nome_localidade,sigla_uf,cep,latitude,longitude,rua
1,Rua,João Antônio Vasconcelos,Rua João Antônio Vasconcelos - até 627/628,627,Amizade,Araçatuba,SP,16074320.0,-21.190276,-50.448686,rua joão antônio vasconcelos
413269,Rua,A,Rua A,NaN,Jardim Glória,Americana,SP,13468220.0,-22.756531,-47.343738,rua a
413270,Rua,A,Rua A,NaN,Jardim São Roque,Americana,SP,13469414.0,-22.743734,-47.348631,rua a
413271,Rua,A,Rua A,NaN,Iate Clube de Campinas,Americana,SP,13475620.0,-22.737846,-47.333569,rua a
413272,Rua,João Bandini,Rua João Bandini,NaN,Jardim Miriam,Americana,SP,13469072.0,-22.744283,-47.351588,rua joão bandini

### Dados geoespaciais

Para ler dados geoespaciais da base do censitária do IBGE precisamos importar a biblioteca geopandas. Além disso, os dados precisam ser baixados localmente e estarem localizados no mesmo diretório (https://drive.google.com/drive/folders/1CycoanzYN2oxKHPO6zxvIQ6Og1LBcujv)

In [51]:
path_geo = ('/home/Rafaella.Duarte/Documentos/pasta_pessoal/precificacao_imoveis/Imersao_Dados/Large_Files/35SEE250GC_SIR.shp')
df_geo = gpd.read_file(path_geo)
df_geo.head()

,ID,CD_GEOCODI,TIPO,CD_GEOCODS,NM_SUBDIST,CD_GEOCODD,NM_DISTRIT,CD_GEOCODM,NM_MUNICIP,NM_MICRO,NM_MESO,CD_GEOCODB,NM_BAIRRO,ID1,geometry
0,98237.0,354100005000009,URBANO,35410000500,None,354100005,PRAIA GRANDE,3541000,PRAIA GRANDE,SANTOS,METROPOLITANA DE SÃO PAULO,354100005001,Boqueirão,1,"POLYGON ((-46.41024 -24.01103, -46.41169 -24.0..."
1,98232.0,354100005000004,URBANO,35410000500,None,354100005,PRAIA GRANDE,3541000,PRAIA GRANDE,SANTOS,METROPOLITANA DE SÃO PAULO,354100005001,Boqueirão,2,"POLYGON ((-46.41606 -24.00245, -46.41598 -24.0..."
2,98230.0,354100005000002,URBANO,35410000500,None,354100005,PRAIA GRANDE,3541000,PRAIA GRANDE,SANTOS,METROPOLITANA DE SÃO PAULO,354100005001,Boqueirão,3,"POLYGON ((-46.41213 -24.00792, -46.41244 -24.0..."
3,98229.0,354100005000001,URBANO,35410000500,None,354100005,PRAIA GRANDE,3541000,PRAIA GRANDE,SANTOS,METROPOLITANA DE SÃO PAULO,354100005001,Boqueirão,4,"POLYGON ((-46.41134 -24.00552, -46.41196 -24.0..."
4,98231.0,354100005000003,URBANO,35410000500,None,354100005,PRAIA GRANDE,3541000,PRAIA GRANDE,SANTOS,METROPOLITANA DE SÃO PAULO,354100005001,Boqueirão,5,"POLYGON ((-46.41326 -24.00514, -46.41484 -24.0..."

Como estamos utilizando apenas dados de São Paulo, vamos seleciona-los

In [52]:
df_geo = df_geo[df_geo.NM_MUNICIP == "SÃO PAULO"]
df_geo.sample(3)

,ID,CD_GEOCODI,TIPO,CD_GEOCODS,NM_SUBDIST,CD_GEOCODD,NM_DISTRIT,CD_GEOCODM,NM_MUNICIP,NM_MICRO,NM_MESO,CD_GEOCODB,NM_BAIRRO,ID1,geometry
44682,110264.0,355030811000355,URBANO,35503081100,None,355030811,BRASILÂNDIA,3550308,SÃO PAULO,SÃO PAULO,METROPOLITANA DE SÃO PAULO,None,None,44683,"POLYGON ((-46.68485 -23.45889, -46.68482 -23.4..."
45029,110611.0,355030813000166,URBANO,35503081300,None,355030813,CACHOEIRINHA,3550308,SÃO PAULO,SÃO PAULO,METROPOLITANA DE SÃO PAULO,None,None,45030,"POLYGON ((-46.65453 -23.47176, -46.65389 -23.4..."
46404,111944.0,355030819000348,URBANO,35503081900,None,355030819,CAPÃO REDONDO,3550308,SÃO PAULO,SÃO PAULO,METROPOLITANA DE SÃO PAULO,None,None,46405,"POLYGON ((-46.79197 -23.66264, -46.79207 -23.6..."

## Mesclando os dados

Com os dados devidamente tratados, vamos mescla-los para que a analise seja mais profunda. Os dataframes tratados são:

* df_imovel
* df_setor
* df_endereco
* df_geo

Vamos começar com os dados referentes aos endereços (df_endereço) e os dados dos valores dos imovéis (df_imove)

In [53]:
df_imovel.head()

,Rua,cidade,metragem,quartos,banheiros,vagas,bairro,preco_anuncio_float,apenas_rua
0,"Avenida Itacira, 255",São Paulo,1000,4,8,6,Planalto Paulista,7000000.0,avenida itacira
2,Rua Alba Valdez,São Paulo,125,4,3,2,Jardim Reimberg,380000.0,rua alba valdez
3,NaN,São Paulo,310,3,2,4,Jardim Morumbi,685000.0,NaN
4,"Rua Tobias Barreto, 195",São Paulo,100,3,2,2,Mooca,540000.0,rua tobias barreto
5,Rua Graham Bell,São Paulo,440,4,4,6,Santo Amaro,1980000.0,rua graham bell

In [54]:
df_endereco.head()

,tipo_logr,logr_nome,logr_compl,numero,bairro,nome_localidade,sigla_uf,cep,latitude,longitude,rua
1,Rua,João Antônio Vasconcelos,Rua João Antônio Vasconcelos - até 627/628,627,Amizade,Araçatuba,SP,16074320.0,-21.190276,-50.448686,rua joão antônio vasconcelos
413269,Rua,A,Rua A,NaN,Jardim Glória,Americana,SP,13468220.0,-22.756531,-47.343738,rua a
413270,Rua,A,Rua A,NaN,Jardim São Roque,Americana,SP,13469414.0,-22.743734,-47.348631,rua a
413271,Rua,A,Rua A,NaN,Iate Clube de Campinas,Americana,SP,13475620.0,-22.737846,-47.333569,rua a
413272,Rua,João Bandini,Rua João Bandini,NaN,Jardim Miriam,Americana,SP,13469072.0,-22.744283,-47.351588,rua joão bandini

Realizando um left join, entre o 'df_imovel' e 'df_endereço', que retorna todos os registros do dataframe 'df_imovel' e os registros correspondentes do dataframe 'df_endereço' quando os valores em que os registros do campo 'apenas_rua' do dataframe 'df_imovel' for igual ao resgistro 'rua' do dataframe 'df_endereco'

In [55]:
df_imovel_endereco = pd.merge(
    left = df_imovel, 
    right = df_endereco[["rua", "cep", "latitude", "longitude"]], 
    how = "left", 
    left_on = "apenas_rua", 
    right_on = "rua"
).drop_duplicates(
    subset=df_imovel.columns
).query("cep > 0")

In [56]:
df_imovel_endereco

,Rua,cidade,metragem,quartos,banheiros,vagas,bairro,preco_anuncio_float,apenas_rua,rua,cep,latitude,longitude
0,"Avenida Itacira, 255",São Paulo,1000,4,8,6,Planalto Paulista,7000000.0,avenida itacira,avenida itacira,11443160.0,-23.975993,-46.201317
5,Rua Alba Valdez,São Paulo,125,4,3,2,Jardim Reimberg,380000.0,rua alba valdez,rua alba valdez,4845200.0,-23.752990,-46.695889
6,NaN,São Paulo,310,3,2,4,Jardim Morumbi,685000.0,NaN,NaN,18125000.0,-23.531043,-47.255023
25,"Rua Tobias Barreto, 195",São Paulo,100,3,2,2,Mooca,540000.0,rua tobias barreto,rua tobias barreto,13474663.0,-22.698901,-47.294461
38,Rua Graham Bell,São Paulo,440,4,4,6,Santo Amaro,1980000.0,rua graham bell,rua graham bell,4737030.0,-23.593796,-46.760077
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89836,Avenida Odila,São Paulo,262,3,6,4,Planalto Paulista,1500000.0,avenida odila,avenida odila,4058020.0,-23.609093,-46.647258
89838,Rua Tapuçu,São Paulo,90,2,2,2,Vila Sofia,665000.0,rua tapuçu,rua tapuçu,4671185.0,-23.661018,-46.691521
89839,Rua Guararema,São Paulo,600,8,7,5,Bosque da Saúde,2300000.0,rua guararema,rua guararema,13030640.0,-22.922749,-47.076960
89856,Rua Estero Belaco,São Paulo,200,3,3,6,Vila da Saúde,1050000.0,rua estero belaco,rua estero belaco,4145020.0,-23.616124,-46.632983
89857,"Rua Barão de Tramandaí, 0",São Paulo,117,3,2,2,Vila Alpina,270000.0,rua barão de tramandaí,rua barão de tramandaí,3207000.0,-23.600330,-46.562415

Proximo passo será mesclar os dados do dataframe df_imovel_endereco (dataframe retornado da combinação entre df_imovel e df_endereço) com os dados do dataframe df_geo

In [57]:
df_geo.sample(3)

,ID,CD_GEOCODI,TIPO,CD_GEOCODS,NM_SUBDIST,CD_GEOCODD,NM_DISTRIT,CD_GEOCODM,NM_MUNICIP,NM_MICRO,NM_MESO,CD_GEOCODB,NM_BAIRRO,ID1,geometry
56298,121866.0,355030865000197,URBANO,35503086500,None,355030865,RAPOSO TAVARES,3550308,SÃO PAULO,SÃO PAULO,METROPOLITANA DE SÃO PAULO,None,None,56299,"POLYGON ((-46.79493 -23.60172, -46.79482 -23.6..."
47459,113027.0,355030824000127,URBANO,35503082400,None,355030824,CIDADE LIDER,3550308,SÃO PAULO,SÃO PAULO,METROPOLITANA DE SÃO PAULO,None,None,47460,"POLYGON ((-46.50516 -23.55286, -46.50522 -23.5..."
57492,122972.0,355030870000150,URBANO,35503087000,None,355030870,SANTANA,3550308,SÃO PAULO,SÃO PAULO,METROPOLITANA DE SÃO PAULO,None,None,57493,"POLYGON ((-46.64537 -23.49139, -46.64538 -23.4..."

Criando um campo denominado 'Point' para armazenar a localização geografica (longitude e latitude) do imovél a venda.

In [58]:
df_imovel_endereco["Point"] = ""
for i in df_imovel_endereco.index:
    df_imovel_endereco["Point"][i] = Point(
        df_imovel_endereco["longitude"][i], 
        df_imovel_endereco["latitude"][i]
    )

/tmp/ipykernel_26667/1451948430.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_imovel_endereco["Point"][i] = Point(

In [59]:
df_imovel_endereco.sample(5)

,Rua,cidade,metragem,quartos,banheiros,vagas,bairro,preco_anuncio_float,apenas_rua,rua,cep,latitude,longitude,Point
25899,Avenida Padre Pereira de Andrade,São Paulo,280,3,3,5,Boaçava,2950000.0,avenida padre pereira de andrade,avenida padre pereira de andrade,5469000.0,-23.537027,-46.719887,POINT (-46.7198875 -23.5370267)
21409,NaN,São Paulo,935,5,6,4,Jardim Paulista,12000000.0,NaN,NaN,18125000.0,-23.531043,-47.255023,POINT (-47.2550228 -23.5310431)
83972,Rua Mont Kemel,São Paulo,190,5,3,4,Vila Água Funda,650000.0,rua mont kemel,rua mont kemel,4155030.0,-23.630968,-46.626562,POINT (-46.6265617 -23.6309681)
9483,Alameda dos Piratinins,São Paulo,250,5,4,5,Planalto Paulista,1190000.0,alameda dos piratinins,alameda dos piratinins,4065050.0,-23.617469,-46.648272,POINT (-46.6482719 -23.6174692)
66018,Rua Eduardo Valim,São Paulo,140,3,3,2,Jardim Botucatu,565000.0,rua eduardo valim,rua eduardo valim,4173060.0,-23.639839,-46.611133,POINT (-46.6111326 -23.6398388)

Criando um campo denominado setor_censo com o poligono na qual o ponto do imovel se localiza de acordo com os dados geoespaciais do IBGE

In [60]:
df_imovel_endereco['setor_censo'] = df_imovel_endereco["Point"].map(
    lambda x: df_geo.loc[df_geo.contains(x), 'CD_GEOCODI'].values
).str[0]

In [61]:
df_imovel_endereco.sample(3)

,Rua,cidade,metragem,quartos,banheiros,vagas,bairro,preco_anuncio_float,apenas_rua,rua,cep,latitude,longitude,Point,setor_censo
80723,NaN,São Paulo,345,4,5,4,Cidade Jardim,2700000.0,NaN,NaN,18125000.0,-23.531043,-47.255023,POINT (-47.2550228 -23.5310431),NaN
36481,Avenida Nossa Senhora da Encarnação,São Paulo,200,3,3,4,Jardim Maria Estela,790000.0,avenida nossa senhora da encarnação,avenida nossa senhora da encarnação,4180080.0,-23.630032,-46.602190,POINT (-46.6021897 -23.6300325),355030868000033
34191,Rua Pirandello,São Paulo,500,4,6,5,Brooklin Paulista,3000000.0,rua pirandello,rua pirandello,4623000.0,-23.634834,-46.674952,POINT (-46.6749517 -23.6348336),355030815000116

E por fim, apos mesclar os dataframes df_imovel, df_endereco e df_geo, vamos mesclar o dataframe retornado com o df_setor

In [62]:
df_setor.sample(3)

,Cod_setor,Cod_Grandes Regiï¿½es,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
16289,355030885000004,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.03,2.05,640.92,1094962.13,1451.13,1305415.37,658.94,1084206.11,1396.88,1268158.10
16769,355030888000040,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,2.46,1.11,7494.72,14968153.80,7580.53,14487167.53,5148.21,18382447.41,6455.51,14602587.86
1138,355030811000194,3,Regiï¿½o Sudeste,35,Sï¿½o Paulo,3515,Metropolitana de Sï¿½o Paulo,35061,Sï¿½o Paulo,20,...,3.92,6.43,938.75,1765886.54,938.75,1765886.54,397.57,743998.50,795.14,1183762.56

In [63]:
df_imovel_endereco["setor_censo"] = df_imovel_endereco["setor_censo"].astype(float)

In [64]:
df_imovel_endereco["setor_censo"]

0                 NaN
5        3.550308e+14
6                 NaN
25                NaN
38       3.550309e+14
             ...
89836    3.550309e+14
89838    3.550308e+14
89839             NaN
89856    3.550309e+14
89857    3.550309e+14
Name: setor_censo, Length: 6522, dtype: float64

In [65]:
df_imovel_endereco_setor = pd.merge(
    left = df_imovel_endereco, 
    right = df_setor, 
    how = "left", 
    left_on = "setor_censo", 
    right_on = "Cod_setor"
)

In [66]:
df_imovel_endereco_setor.head()

,Rua,cidade,metragem,quartos,banheiros,vagas,bairro,preco_anuncio_float,apenas_rua,rua,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
0,"Avenida Itacira, 255",São Paulo,1000,4,8,6,Planalto Paulista,7000000.0,avenida itacira,avenida itacira,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Rua Alba Valdez,São Paulo,125,4,3,2,Jardim Reimberg,380000.0,rua alba valdez,rua alba valdez,...,3.47,3.06,805.13,769188.78,1011.75,757433.42,518.77,426672.78,858.51,414378.88
2,NaN,São Paulo,310,3,2,4,Jardim Morumbi,685000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Rua Tobias Barreto, 195",São Paulo,100,3,2,2,Mooca,540000.0,rua tobias barreto,rua tobias barreto,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Rua Graham Bell,São Paulo,440,4,4,6,Santo Amaro,1980000.0,rua graham bell,rua graham bell,...,3.51,2.31,1026.36,272168.67,1143.96,167733.64,735.67,367088.08,1086.94,159622.46

In [67]:
df_imovel_endereco_setor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6522 entries, 0 to 6521
Data columns (total 48 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rua                    4367 non-null   object
 1   cidade                 6522 non-null   object
 2   metragem               6522 non-null   int64
 3   quartos                6522 non-null   int64
 4   banheiros              6522 non-null   int64
 5   vagas                  6522 non-null   int64
 6   bairro                 6522 non-null   object
 7   preco_anuncio_float    6522 non-null   float64
 8   apenas_rua             4367 non-null   object
 9   rua                    4367 non-null   object
 10  cep                    6522 non-null   float64
 11  latitude               6522 non-null   float64
 12  longitude              6522 non-null   float64
 13  Point                  6522 non-null   object
 14  setor_censo            3019 non-null   float64
 15  Cod_setor              3017 non-null   float64
 16  Cod_Grandes Regiï¿½es  3017 non-null   float64
 17  Nome_Grande_Regiao     3017 non-null   object
 18  Cod_UF                 3017 non-null   float64
 19  Nome_da_UF             3017 non-null   object
 20  Cod_meso               3017 non-null   float64
 21  Nome_da_meso           3017 non-null   object
 22  Cod_micro              3017 non-null   float64
 23  Nome_da_micro          3017 non-null   object
 24  Cod_RM                 3017 non-null   float64
 25  Nome_da_RM             3017 non-null   object
 26  Cod_municipio          3017 non-null   float64
 27  Nome_do_municipio      3017 non-null   object
 28  Cod_distrito           3017 non-null   float64
 29  Nome_do_distrito       3017 non-null   object
 30  Cod_subdistrito        3017 non-null   float64
 31  Nome_do_subdistrito    3017 non-null   object
 32  Cod_bairro             3017 non-null   float64
 33  Nome_do_bairro         3017 non-null   object
 34  Situacao_setor         3017 non-null   float64
 35  Tipo_setor             3017 non-null   float64
 36  V001                   3017 non-null   float64
 37  V002                   3017 non-null   float64
 38  V003                   3017 non-null   float64
 39  V004                   3017 non-null   float64
 40  V005                   3017 non-null   float64
 41  V006                   3017 non-null   float64
 42  V007                   3017 non-null   float64
 43  V008                   3017 non-null   float64
 44  V009                   3017 non-null   float64
 45  V010                   3017 non-null   float64
 46  V011                   3017 non-null   float64
 47  V012                   3017 non-null   float64
dtypes: float64(29), int64(4), object(15)
memory usage: 2.4+ MB

In [68]:
df_imovel_endereco_setor.to_csv('dados_imoveis_treatment.csv')