# Projeto de Precificação de Imóveis de São Paulo

## Etapa 2: Análise Exploratória

Na segunda etapa do projeto, com os dataset criado e tratado da primeira etapa, iremos realizar uma análise explorátoria dos dados, de modo a:

* Fazer um exame gráfico sobre a natureza das variáveis individuais;
* Desenvolver uma análise descritiva para quantificar aspectos gráficos;
* Identificar padrões e relacionais entre as variáveis levantadas;
* Monitorar se há casos ausentes ou atípicos;
* Levantar hipóteses básicas para testes estatísticos

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import geopandas as gpd
import matplotlib.pyplot as plt

In [2]:
from shapely.geometry import Point, Polygon

In [3]:
path = "https://raw.githubusercontent.com/rafaelladuarte/precificacao_imoveis/main/dados_imoveis_treatment.csv"

In [4]:
df = pd.read_csv(path)
df.sample(5)

,Unnamed: 0,Rua,cidade,metragem,quartos,banheiros,vagas,bairro,preco_anuncio_float,apenas_rua,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
4912,4912,Rua Professor Vahia de Abreu,São Paulo,94,3,4,1,Vila Olímpia,1200000.0,rua professor vahia de abreu,...,2.08,1.11,4591.86,2.102748e+07,4906.37,2.092318e+07,3619.84,2.454696e+07,4488.60,2.655477e+07
4215,4215,NaN,São Paulo,103,3,2,2,Vila Bela,450000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
829,829,NaN,São Paulo,594,4,4,7,Jardim Leonor,2820000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1150,1150,Rua Gregório Paes de Almeida,São Paulo,400,3,5,3,Vila Madalena,4400000.0,rua gregório paes de almeida,...,3.31,2.44,12262.45,1.598702e+08,12501.32,1.599991e+08,5832.73,1.009635e+08,7999.64,1.211943e+08
1375,1375,Rua Belchior de Azevedo,São Paulo,270,3,2,3,Vila Leopoldina,1400000.0,rua belchior de azevedo,...,2.83,1.92,2292.57,1.571630e+07,4313.42,2.089146e+07,1571.18,9.793332e+06,3488.55,1.507359e+07