# Projeto de Precificação de Imóveis de São Paulo

## Etapa 2: Análise Exploratória

Na segunda etapa do projeto, com os dataset criado e tratado da primeira etapa, iremos realizar uma análise explorátoria dos dados, de modo a:

* Fazer um exame gráfico sobre a natureza das variáveis individuais;
* Desenvolver uma análise descritiva para quantificar aspectos gráficos;
* Identificar padrões e relacionais entre as variáveis levantadas;
* Monitorar se há casos ausentes ou atípicos;
* Levantar hipóteses básicas para testes estatísticos

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import geopandas as gpd
import matplotlib.pyplot as plt

In [6]:
from shapely.geometry import Point, Polygon

In [7]:
path = "https://raw.githubusercontent.com/rafaelladuarte/precificacao_imoveis/main/dados_aula_treatment.csv"

In [14]:
df = pd.read_csv(path)
df.sample(5)

,Unnamed: 0,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor,Valor_anuncio,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
2538,2538,Rua Curucáia,Saúde,São Paulo,150,3,4,2,R$ 820.000,820000.0,...,2.80,1.48,4545.87,18595527.76,5182.98,17896945.51,3291.65,14224457.82,4336.90,14208203.38
1356,1356,"Rua Constantino Fraga, , 26",Vila Hamburguesa,São Paulo,145,2,2,3,R$ 980.000,980000.0,...,2.98,2.18,2097.58,3786107.02,2259.59,3712155.75,1366.85,2479691.40,1837.92,2468480.35
2849,2849,"Rua Joazeiro, 66",Sumaré,São Paulo,550,3,6,6,R$ 3.600.000,3600000.0,...,2.73,1.68,4803.91,34012884.50,5189.41,34746330.43,3146.61,25061835.05,3962.07,28335049.37
4,4,Rua Graham Bell,Santo Amaro,São Paulo,440,4,4,6,R$ 1.980.000,1980000.0,...,3.51,2.31,1026.36,272168.67,1143.96,167733.64,735.67,367088.08,1086.94,159622.46
5510,5510,"Rua José Joaquim Esteves, 645",Jardim São Luís,São Paulo,115,3,2,3,R$ 650.000,650000.0,...,3.32,2.48,992.58,1051550.81,1125.79,1042691.39,622.13,731195.42,1002.45,797001.63

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5605 entries, 0 to 5604
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             5605 non-null   int64
 1   Rua                    5605 non-null   object
 2   Bairro                 5597 non-null   object
 3   Cidade                 5605 non-null   object
 4   Metragem               5605 non-null   int64
 5   Quartos                5605 non-null   int64
 6   Banheiros              5605 non-null   int64
 7   Vagas                  5605 non-null   int64
 8   Valor                  5605 non-null   object
 9   Valor_anuncio          5605 non-null   float64
 10  Tipo_anuncio           0 non-null      float64
 11  Valor_mm               5605 non-null   float64
 12  Valor_m2               5605 non-null   float64
 13  rua                    5605 non-null   object
 14  cep                    5605 non-null   float64
 15  latitude               5605 non-null   float64
 16  longitude              5605 non-null   float64
 17  Point                  5605 non-null   object
 18  setor_censo            5320 non-null   float64
 19  Cod_setor              5316 non-null   float64
 20  Cod_Grandes Regiï¿½es  5316 non-null   float64
 21  Nome_Grande_Regiao     5316 non-null   object
 22  Cod_UF                 5316 non-null   float64
 23  Nome_da_UF             5316 non-null   object
 24  Cod_meso               5316 non-null   float64
 25  Nome_da_meso           5316 non-null   object
 26  Cod_micro              5316 non-null   float64
 27  Nome_da_micro          5316 non-null   object
 28  Cod_RM                 5316 non-null   float64
 29  Nome_da_RM             5316 non-null   object
 30  Cod_municipio          5316 non-null   float64
 31  Nome_do_municipio      5316 non-null   object
 32  Cod_distrito           5316 non-null   float64
 33  Nome_do_distrito       5316 non-null   object
 34  Cod_subdistrito        5316 non-null   float64
 35  Nome_do_subdistrito    5316 non-null   object
 36  Cod_bairro             5316 non-null   float64
 37  Nome_do_bairro         5316 non-null   object
 38  Situacao_setor         5316 non-null   float64
 39  Tipo_setor             5316 non-null   float64
 40  V001                   5316 non-null   float64
 41  V002                   5316 non-null   float64
 42  V003                   5316 non-null   float64
 43  V004                   5316 non-null   float64
 44  V005                   5316 non-null   float64
 45  V006                   5316 non-null   float64
 46  V007                   5316 non-null   float64
 47  V008                   5316 non-null   float64
 48  V009                   5316 non-null   float64
 49  V010                   5316 non-null   float64
 50  V011                   5316 non-null   float64
 51  V012                   5316 non-null   float64
dtypes: float64(32), int64(5), object(15)
memory usage: 2.2+ MB

Começando com análise descritiva dos dados não geostacionários

In [ ]:
df_1 = df.loc[:, ["Rua", "Bairro", "Metragem","Quartos","Banheiros","Vagas", "Valor_anuncio